<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - CompoDynamics: Database of Genomic Composition Dynamics - National Genomics Data Center</title>
    <div th:replace="~{inc/header::header}"></div>
    <link rel="stylesheet" th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-slider/slider.css}">
</head>

<body class="hold-transition skin-blue layout-top-nav">

<div class="wrapper" style="overflow:hidden;height: auto;">
    <div th:replace="inc/nav::#nav(activeUri='features')"></div>
    <div class="content" style="background-color: #ecf0f5;">
        <div class="container-fluid" style="padding-left: 40px; padding-right: 40px">
            <div class="row">
                <div class="col-md-12" >
                    <br>
                </div>
                <div class="col-md-3"  id="hideF" hidden>
                    <a onclick="showFilter()"  class="btn btn-primary btn-block margin-bottom">Show Filter</a>
                </div>
                <div class="col-md-3" id="showF">
                    <a onclick="hideFilter()" class="btn btn-primary btn-block margin-bottom" >Hide Filter</a>
                </div>
                <div class="col-md-9">
                    <div class="breadcrumb">
                        <li style="font-size: 15px"><i class="fa fa-th"></i> Nucleotide composition</li>
                        <li class="active pull-right">Nucleotide composition</li>
                        <li class="active pull-right">Features</li>
                        <li class="pull-right"><a href="/compodynamics/"><i class="fa fa-dashboard"></i> Home</a></li>
                    </div>
                </div>
                <div th:replace="~{inc/nuc_filter::#nuc_filters}"></div>
                <div class="col-md-9" id="result">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" id="myTabs">
                            <li id="li_geno" class="active"><a href="#species" data-toggle="tab">Genomes</a></li>
                            <li id="li_gene"><a href="#genes" data-toggle="tab">Genes</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="species">
                                <table id="nuccomG_table" class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Taxonomy</th>
                                        <th>Organism</th>
                                        <th>Assembly-Accession</th>
                                        <th>CDS-Count</th>
                                        <th>GC</th>
                                        <th>AG</th>
                                        <th>GC1</th>
                                        <th>AG1</th>
                                        <th>GC2</th>
                                        <th>AG2</th>
                                        <th>GC3</th>
                                        <th>AG3</th>
                                        <th>Box-Plot</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="genes">
                                <table id="nuccom_table" class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Taxonomy</th>
                                        <th>Organism</th>
                                        <th>Assembly-Accession</th>
                                        <th>Gene-Id</th>
                                        <th>Protein-Id</th>
                                        <th>Length</th>
                                        <th>GC</th>
                                        <th>AG</th>
                                        <th>GC1</th>
                                        <th>AG1</th>
                                        <th>GC2</th>
                                        <th>AG2</th>
                                        <th>GC3</th>
                                        <th>AG3</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-sidebar-bg"></div>
</div>

<div th:replace="~{inc/footer::#footer}"></div>
<script>

    function nucsearch() {

        var taxonomy = $("#nuccom_gen_tax").val();
        var organism = $("#nuccom_gen_org").val();
        var assemblyAccession = $("#nuccom_gen_ass").val();
        var geneId = $("#nuccom_gen_geneid").val();
        var proteinId = $("#nuccom_gen_proid").val();

        var param = {
            "taxonomy": taxonomy,
            "organism": organism,
            "assemblyAccession": assemblyAccession,
            "geneId": geneId,
            "proteinId": proteinId,

        };
        _nuccomTable.settings()[0].ajax.data = param;
        _nuccomTable.ajax.reload();

        _nuccomGTable.settings()[0].ajax.data = param;
        _nuccomGTable.ajax.reload();
    }
</script>
<script th:src="@{/js/myjs/control/nuccopcontrol.js}"></script>
<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/highcharts-more.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
<script th:src="@{/js/myjs/app/nuccopapp.js}"></script>
<script th:src="@{/js/myjs/filter/nuccopfilter.js}"></script>
<script th:src="@{/js/myjs/data/nuc_cop_boxplot.js}"></script>
<script th:src="@{/js/myjs/search/nuccopsearch.js}"></script>

<style type="text/css">
    #nuccom_table_paginate .paginate_button:nth-of-type(8){
        display:none;
    }
</style>
</body>
</html>

