<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phase Seperation - CompoDynamics: Database of Genomic Composition Dynamics - National Genomics Data Center</title>
    <div th:replace="~{inc/header::header}"></div>
    <link rel="stylesheet" th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-slider/slider.css}">
</head>

<body class="hold-transition skin-blue layout-top-nav">

<div class="wrapper" style="overflow:hidden;height: auto;">
    <div th:replace="inc/nav::#nav(activeUri='features')"></div>
    <div class="content" style="background-color: #ecf0f5;">
        <div class="container-fluid" style="padding-left: 40px; padding-right: 40px">
            <div class="row">
                <div class="col-md-12" >
                    <br>
                </div>
                <div class="col-md-3"  id="hideF" hidden>
                    <a onclick="showFilter()"  class="btn btn-primary btn-block margin-bottom">Show Filter</a>
                </div>
                <div class="col-md-3" id="showF">
                    <a onclick="hideFilter()" class="btn btn-primary btn-block margin-bottom" >Hide Filter</a>
                </div>
                <div class="col-md-9">
                    <div class="breadcrumb">
                        <li style="font-size: 15px"><i class="fa fa-th"></i> Phase Separation</li>
                        <li class="active pull-right">Phase Separation</li>
                        <li class="active pull-right">Features</li>
                        <li class="pull-right"><a href="/compodynamics/"><i class="fa fa-dashboard"></i> Home</a></li>
                    </div>
                </div>
                <div th:replace="~{inc/phase_filter::#phase_filters}"></div>

                <div class="col-md-9" id="result">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" id="myTabs">
                            <li id="li_geno" class="active"><a href="#species2" data-toggle="tab">Genomes</a></li>
                            <li id="li_gene"><a href="#genes2" data-toggle="tab">Genes</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="species2">
                                <table id="phaseG_table" class="table table-bordered table-hover  table-striped">
                                    <thead>
                                    <tr>
                                        <th>Taxonomy</th>
                                        <th>Organism</th>
                                        <th>Assembly-Accession</th>
                                        <th>CDS-Count</th>
                                        <th>LLR</th>
                                        <th>Core-Score</th>
                                        <th>PAPA-Prop</th>
                                        <th>PAPA-FI</th>
                                        <th>AA-Length</th>
                                        <th>Disorder-Percent</th>
                                        <th>Disorder-30AA-Num</th>
                                        <th>Disorder-50AA-Num</th>
                                        <th>Disorder-Segment-Num</th>
                                        <th>PS-Core</th>
                                        <th>Amino-Box-Plot</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="genes2">
                                <table id="phase_table" class="table table-bordered table-hover  table-striped">
                                    <thead>
                                    <tr>
                                        <th>Taxonomy</th>
                                        <th>Organism</th>
                                        <th>Assembly-Accession</th>
                                        <th>Gene-Id</th>
                                        <th>Protein-Id</th>
                                        <th>LLR</th>
                                        <th>Core-Score</th>
                                        <th>PAPA-Prop</th>
                                        <th>PAPA-FI</th>
                                        <th>AA-Length</th>
                                        <th>Disorder-Percent</th>
                                        <th>Disorder-30AA-Num</th>
                                        <th>Disorder-30AA-Loc</th>
                                        <th>Disorder-50AA-Num</th>
                                        <th>Disorder-50AA-Loc</th>
                                        <th>Disorder-Segment-Num</th>
                                        <th>Disorder-Segment-Len</th>
                                        <th>PS-Core</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{inc/footer::#footer}"></div>
<script th:src="@{/js/myjs/control/phasecontrol.js}"></script>
<script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/highcharts-more.js"></script>
<script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
<script th:src="@{/js/myjs/app/phaseapp.js}"></script>
<script th:src="@{/js/myjs/filter/phasefilter.js}"></script>
<script th:src="@{/js/myjs/data/phase_boxplot.js}"></script>
<script th:src="@{/js/myjs/search/phasesearch.js}"></script>
<style type="text/css">
    #phase_table_paginate .paginate_button:nth-of-type(8){
        display:none;
    }
</style>
</body>
</html>

